<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <table style="max-width: 600px; margin: 0 auto">
    <tr>
      <td>
        <img src="https://dey-images.s3.amazonaws.com/header.png" alt="" />
      </td>
    </tr>
    <tr style="position: relative; top: 1rem">
      <td style="background-color: #f6f6f6">
        <div style="
              margin: 0 auto;
              width: 576px;
              text-align: justify;
              height: 868px;
              margin-top: 24px;
            ">
          <label for="" style="font-weight: 600; font-size: 28px; font-family: 'Outfit', sans-serif">
            ¡Felicidades! Has sido preaprobado
          </label>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Estimado/a [username],
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            En dey, nos complace informarte que has sido preaprobad@ para
            acceder a nuestros servicios de Salary on Demand. Hemos revisado
            tu historial crediticio en las centrales de riesgo, y basados en
            tu sólido historial financiero, queremos ofrecerte la oportunidad
            de obtener un crédito equivalente a tu salario diario, día a día.
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Para comenzar a disfrutar de nuestros servicios, te invitamos a
            descargar nuestra aplicación móvil. La aplicación te permitirá
            gestionar tu cuenta de manera fácil y rápida, así como acceder a
            tus créditos de forma inmediata. Aquí tienes el enlace para
            descargar la app
          </p>
          <p style="
                height: 243px;
                background-color: #ffff;
                font-family: 'Outfit', sans-serif;
                font-size: 16px;
                color: #898b8c;
              ">
            <img src="https://dey-images.s3.amazonaws.com/apps.png" alt="">
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Una vez que hayas descargado la aplicación, podrás completar el
            proceso de registro y comenzar a disfrutar de los beneficios de
            Salary on Demand. Si tienes alguna pregunta o necesitas asistencia
            durante el proceso, nuestro equipo de atención al cliente estará
            encantado de ayudarte.
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Agradecemos tu confianza en dey y esperamos poder brindarte una
            experiencia financiera conveniente y sin complicaciones.
            <br>
            ¡Bienvenido a dey!
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Atentamente,
          </p>
          <p style="
                font-weight: 700;
                font-family: 'Outfit', sans-serif;
                font-size: 16px;
                color: #898b8c;
              ">
            El equipo dey
          </p>
        </div>
      </td>
    </tr>
    <tr style="position: relative; top: 1rem">
      <td>
        <p style="font-family: 'Outfit', sans-serif; font-size: 12px">
          Dey es una marca registrada en México. El uso de este sitio web
          implica la aceptación de los Términos y Condiciones y el Aviso de
          Privacidad de CAPITAL AFFAIRS S.A.P.I. DE .V. SOFOM E.N.R.
        </p>
        <div style="display: flex; justify-content: center; gap: 7px">
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/Linked.png" alt="" />
          </a>
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/insta.png" alt="" />
          </a>
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/facebook.png" alt="" />
          </a>
        </div>
      </td>
    </tr>
  </table>
</body>

</html>