<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <title>Solicitud de Tarjeta Física</title>
</head>

<body style="margin: 0; padding: 0; background-color: #f6f6f6">
  <table width="100%" cellspacing="0" cellpadding="0"
    style="max-width: 600px; margin: 0 auto; background-color: rgb(243, 243, 243)">
    <!-- Header -->
    <tr>
      <td align="center">
        <img src="https://dey-images.s3.amazonaws.com/header.png" alt="Header" style="width: 100%; max-width: 600px" />
      </td>
    </tr>
    <!-- Contenido -->
    <tr>
      <td style="
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 10px;
          ">

        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <h2 style="
                    font-family: 'Outfit', sans-serif;
                    font-size: 34px;
                    text-align: left;
                    color: #333;
                  ">
                Verificación de cuenta
              </h2>
              <p style="
                    font-family: 'Outfit', sans-serif;
                    font-size: 16px;
                    color: #898b8c;
                    text-align: left;
                    font-weight: 700;
                    color: #333;
                  ">
                Hola {{user_name}},
              </p>
              <p style="
                    font-family: 'Outfit', sans-serif;
                    font-size: 15px;
                    color: #898b8c;
                    text-align: left;
                  ">
                Acabamos de recibir tu petición para verificar tu constraseña.
              </p>
            </td>
          </tr>

    </tr>
    <tr>
      <td style="border-radius: 10px">
        <center>
          <a href={link} style="
                    color: rgb(8, 8, 88);
                    text-decoration: underline;
                    font-size: 15px;
                    font-family: 'Outfit', sans-serif;
                  ">
      </td>
    </tr>
    <tr>
      <td style="border-radius: 10px">
        <center>
          <a href={{url}} style="
                      color: rgb(23, 23, 148);
                      text-decoration: underline;
                      font-size: 15px;
                      font-family: 'Outfit', sans-serif;
                    ">
            <p>
              Haz clic aquí para restablecer contraseña
            </p>
          </a>
        </center>

        <p style="font-family: 'Outfit', sans-serif; font-size: 15px; color: #898b8c">
          Si este correo te ha llegado por error y habías solicitado una clave nueva, contacta con nosotros en <span
            style="text-decoration: underline;">infocontraseñas@deyli.com</span>.
        </p>

        <p style="font-family: 'Outfit', sans-serif; font-size: 15px; color: #898b8c">
          Muchas gracias.
        </p>
      </td>
    </tr>
  </table>
  </td>
  </tr>
  <!-- Footer -->
  <tr>
    <td style="
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            text-align: center;
          ">
      <p style="
              font-family: 'Outfit', sans-serif;
              font-size: 12px;
              color: #898b8c;
            ">
        Dey es una marca registrada en México. El uso de este sitio web
        implica la aceptación de los Términos y Condiciones y el Aviso de
        Privacidad de CAPITAL AFFAIRS S.A.P.I. DE .V. SOFOM E.N.R.
      </p>
      <div style="display: flex; justify-content: center; gap: 7px">
        <a href="">
          <img src="https://dey-images.s3.amazonaws.com/Linked.png" alt="LinkedIn" style="width: 24px" />
        </a>
        <a href="">
          <img src="https://dey-images.s3.amazonaws.com/insta.png" alt="Instagram" style="width: 24px" />
        </a>
        <a href="">
          <img src="https://dey-images.s3.amazonaws.com/facebook.png" alt="Facebook" style="width: 24px" />
        </a>
      </div>
    </td>
  </tr>
  </table>
</body>

</html>