<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <title>Solicitud de Tarjeta Física</title>
</head>

<body style="margin: 0; padding: 0; background-color: #f6f6f6">
  <table width="100%" cellspacing="0" cellpadding="0" style="max-width: 600px; margin: 0 auto; background-color: white">
    <!-- Header -->
    <tr>
      <td align="center">
        <img src="https://dey-images.s3.amazonaws.com/header.png" alt="Header" style="width: 100%; max-width: 600px" />
      </td>
    </tr>
    <!-- Contenido -->
    <tr>
      <td style="padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 10px">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <h2 style="font-family: 'Outfit', sans-serif; font-size: 34px; text-align: left; color: #333">
                Nueva solicitud de tarjeta física microcredit edit
              </h2>
              <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c; text-align: left">
                Hola equipo de logística,
              </p>
              <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c; text-align: left">Hemos
                recibido una nueva solicitud de <strong>tarjeta física</strong>.
                A continuación, los detalles del usuario para su procesamiento y envío:</p>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px; border-radius: 10px">
              <h3 style="color: #4B4C4D; font-family: 'Outfit', sans-serif; font-size: 18px; margin: 0 0 10px 0">
                Datos del usuario:
              </h3>
              <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #333; line-height: 1.6">
                • Nombre:<strong>microcredit edit tolentino edit </strong><br />
                • Correo electrónico:<strong> gabriel.tolentino@therocketcode.com </strong><br />
                • Número de teléfono:<strong> 7822201169 </strong><br />
                • CURP:<strong> TOLG990819HPLLRB87 </strong><br />
                • RFC:<strong> TOLG9908197J1 </strong><br />
              </p>

              <h3 style="color: #4B4C4D; font-family: 'Outfit', sans-serif; font-size: 18px; margin: 20px 
0 10px 0">
                Información de dirección:
              </h3>
              <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #333; line-height: 1.6">
                • Calle y número:<strong> pruebas TI </strong><br />
                • Colonia:<strong> Canatlán </strong><br />
                • Código Postal:<strong> 77777 </strong><br />
                • Estado de residencia:<strong> Durango </strong><br />
                • País:<strong> México </strong><br />
              </p>

              <h3 style="color: #4B4C4D; font-family: 'Outfit', sans-serif; font-size: 18px; margin: 20px 
0 10px 0">
                Información adicional:
              </h3>
              <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #333">
                • Fecha de solicitud:<strong>18 de marzo de 2025 a las 12:18 p.m.</strong>
              </p>
              <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
                Por favor, confirmar cuando el envío haya sido procesado. No responder este correo electrónico.
              </p>
              <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
                Gracias,
              </p>
              <p style="font-family: 'Outfit', sans-serif; font-size: 16px; margin-bottom: 0px"><strong>Equipo
                  Dey</strong></p>
              <p style="font-family: 'Outfit', sans-serif; font-size: 14px; margin-top: 0px;">Correo generado y enviado
                automáticamente desde aplicación móvil.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- Footer -->
    <tr>
      <td style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px; text-align: center">
        <p style="font-family: 'Outfit', sans-serif; font-size: 12px; color: #898b8c">
          Dey es una marca registrada en México. El uso de este sitio web implica la aceptación de los
          Términos y Condiciones y el Aviso de Privacidad de CAPITAL AFFAIRS S.A.P.I. DE .V. SOFOM E.N.R.
        </p>
        <div style="display: flex; justify-content: center; gap: 7px">
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/Linked.png" alt="LinkedIn" style="width: 24px" />
          </a>
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/insta.png" alt="Instagram" style="width: 24px" />
          </a>
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/facebook.png" alt="Facebook" style="width: 24px" />
          </a>
        </div>
      </td>
    </tr>
  </table>
</body>

</html>