<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <table style="max-width: 600px; margin: 0 auto">
    <tr>
      <td>
        <img src="https://dey-images.s3.amazonaws.com/header.png" alt="" />
      </td>
    </tr>
    <tr style="position: relative; top: 1rem">
      <td style="background-color: #f6f6f6">
        <div style="
              margin: 0 auto;
              width: 576px;
              text-align: justify;
              height: 617px;
              margin-top: 24px;
            ">
          <label for="" style="font-weight: 600; font-size: 28px; font-family: 'Outfit', sans-serif">
            Actualización sobre tu solicitud dey
          </label>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Estimada [username],
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            En dey, agradecemos tu interés en nuestros servicios de Salary on
            Demand y valoramos que hayas confiado en nosotros para tus
            necesidades financieras. Después de realizar una revisión
            exhaustiva en las centrales de riesgo, lamentamos informarte que
            tu solicitud ha sido denegada en esta ocasión. Entendemos que esta
            noticia puede ser decepcionante, pero queremos asegurarte que
            apreciamos tu compromiso financiero y el esfuerzo que has puesto
            al presentar tu solicitud. Nuestra decisión se basa únicamente en
            los criterios de las centrales de riesgo, y sabemos que las
            circunstancias pueden cambiar.
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Te invitamos a considerar volver a aplicar en el futuro cuando
            hayan cambiado algunas variables en tu historial crediticio.
            Estamos aquí para ayudarte a alcanzar tus metas financieras y
            creemos que, con el tiempo, podríamos ofrecerte nuestros
            servicios.
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Agradecemos tu comprensión y esperamos poder ayudarte en el
            futuro. Si tienes alguna pregunta o necesitas más información, no
            dudes en ponerte en contacto con nuestro equipo de atención al
            cliente.
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Gracias por considerar dey
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Atentamente,
          </p>
          <p style="font-weight: 700; font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            El equipo dey
          </p>
        </div>
      </td>
    </tr>
    <tr style="position: relative; top: 1rem">
      <td>
        <p style="font-family: 'Outfit', sans-serif; font-size: 12px">
          Dey es una marca registrada en México. El uso de este sitio web
          implica la aceptación de los Términos y Condiciones y el Aviso de
          Privacidad de CAPITAL AFFAIRS S.A.P.I. DE .V. SOFOM E.N.R.
        </p>
        <div style="display: flex; justify-content: center; gap: 7px">
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/Linked.png" alt="" />
          </a>
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/insta.png" alt="" />
          </a>
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/facebook.png" alt="" />
          </a>
        </div>
      </td>
    </tr>
  </table>
</body>

</html>