<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Outfit" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <table style="max-width: 600px; margin: 0 auto">
    <tr>
      <td>
        <img src="https://dey-images.s3.amazonaws.com/header.png" alt="" />
      </td>
    </tr>
    <tr style="position: relative; top: 1rem">
      <td style="background-color: #f6f6f6">
        <div style="
              margin: 0 auto;
              width: 576px;
              text-align: justify;
              height: 473px;
              margin-top: 24px;
            ">
          <div style="display: flex; flex-direction: column; gap: 11px">
            <label for=""
              style="font-weight: 600; font-size: 28px; font-family: 'Outfit', sans-serif;margin-bottom: 1rem;">
              Código de validación
            </label>
            <label for="" style="font-weight: 700; font-size: 20px; font-family: 'Outfit', sans-serif">
              Hola [USERNAME],
            </label>
          </div>
          <p style="
                font-family: 'Outfit', sans-serif;
                font-size: 16px;
                color: #898b8c;
                line-height: 0px;
              ">
            Tu Nuevo código de validación de cuenta es [code]
          </p>
          <p style="
                font-family: 'Outfit', sans-serif;
                font-size: 16px;
                color: #898b8c;
                margin-top: 4rem;
              ">
            Recuerda que cuentas con 1 hora para ingresar este código y que
            validemos tu cuenta. Si este correo te ha llegado por error y no
            habías solicitado un código de validación, contacta con nosotros
            en
            <span style="text-decoration: underline">infocontraseñas@dey.com.</span>
          </p>
          <p style="font-family: 'Outfit', sans-serif; font-size: 16px; color: #898b8c">
            Muchas gracias.
          </p>
        </div>
      </td>
    </tr>
    <tr style="position: relative; top: 1rem">
      <td>
        <p style="font-family: 'Outfit', sans-serif; font-size: 12px">
          Dey es una marca registrada en México. El uso de este sitio web
          implica la aceptación de los Términos y Condiciones y el Aviso de
          Privacidad de CAPITAL AFFAIRS S.A.P.I. DE .V. SOFOM E.N.R.
        </p>
        <div style="display: flex; justify-content: center; gap: 7px">
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/Linked.png" alt="" />
          </a>
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/insta.png" alt="" />
          </a>
          <a href="">
            <img src="https://dey-images.s3.amazonaws.com/facebook.png" alt="" />
          </a>
        </div>
      </td>
    </tr>
  </table>
</body>

</html>